<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Draw Rectangle</title>
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<h2>Draw Rectangle</h2>
			<span>色</span><input type="color" v-model="color">
			<span>大きさ</span><select v-model="beat" v-on:change="drawAll()">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=4>4</option>
				<option value=8>8</option>
				<option value=16>16</option>
			</select>
			<button v-on:click="expandCanvas()">キャンバスを広げる</button>
			<br>
			<canvas id="myCanvas"
			v-on:mousedown.left="onMouseLeftDown($event, color)"
			v-on:mousemove="onDrag($event)"
			v-on:mouseup.left="onMouseLeftUp()"
			v-on:mousedown.right="onMouseRightDown($event)">
			</canvas>
			<br>
			{{$data}}
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
		<script src="index.js"></script>
	</body>
</html>